@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force specific dimensions for Chrome Extension Popup */
body {
  width: 400px;
  height: 600px;
  margin: 0;
  overflow: hidden; /* Prevent outer scrollbars */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}